<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<%- include('../partials/layout/head'); %>

<body>

  <table class="site">

    <tr>
      <td>

        <%- include('../partials/layout/header'); %>

        <table class="site__main">

          <tr>
            <td>

              <table class="grid" align="center">
                <tr>
                  <td>
                    <%- include('../partials/modules/headlines'); %>
                    <%- include('../partials/modules/text'); %>
                    <%- include('../partials/modules/image'); %>
                    <%- include('../partials/modules/list'); %>
                    <%- include('../partials/modules/table'); %>
                    <%- include('../partials/modules/grid'); %>
                  </td>
                </tr>
              </table> <!-- .grid -->

            </td>
          </tr>

        </table> <!-- .site__main -->

        <%- include('../partials/layout/footer'); %>

      </td>
    </tr>

  </table> <!-- .site -->

</body>
</html>
